<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <!--Page-->
    <div class="page">
      <!--Page Header-->
      <header class="page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="69px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px">
            <div class="rd-navbar-inner">
              <!--RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!--RD Navbar Brand-->
                <div class="rd-navbar-brand" ><a class="brand-name" href="index.html" ><img src="https://image.flaticon.com/icons/png/512/49/49643.png" alt="" width="50" height="32"/></a></div>
              </div>
              <!--RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                  <li class="active"><a href="index.html">Домашняя страницв</a></li>
                  <li><a href="about.html">Работа</a></li>
                  <li><a href="contacts.html">Выход</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!--Swiper-->
      <section>
        <div class="swiper-container swiper-slider swiper-slider_fullheight" data-simulate-touch="false" data-loop="false" data-autoplay="false">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide_video context-dark video-bg-overlay">
                    <!--RD Video-->
                    <div class="vide_bg" data-vide-bg="static/video/video-lg" data-vide-options="posterType: jpg">
                      <div class="swiper-slide-caption text-center">
                        <div class="container">
                          <h2 data-caption-animate="fadeInUpSmall">Найди работу, не выходя из дома</h2>
                          <h5 class="text-width-2 block-centered" data-caption-animate="fadeInUpSmall" data-caption-delay="200">Наша платформа позволяет начинающим программистам получить коммерческий опыт, а работодателям - решить задачу.</h5>
                          <div class="group-lg group-middle">



                              <button type="button" class="button button-black btn-lg" data-toggle="modal" data-caption-animate="fadeInUpSmall" data-target="#ModalSignIn" >
  Вход
</button>


            <button type="button" class="button button-primary btn-lg" data-toggle="modal" data-caption-animate="fadeInUpSmall" data-target="#ModalSignUp">
  Регистрация
</button>




                          </div>
                        </div>
                      </div>
                    </div>
            </div>


            <div class="swiper-slide bg-gray-lighter" data-slide-bg="https://sun9-40.userapi.com/c855624/v855624099/175c06/ZexZHYoaitM.jpg">
              <div class="swiper-slide-caption text-center">
                <div class="container">
                  <h1 data-caption-animate="fadeInUpSmall">Найти IT!</h1>
                  <h3 data-caption-animate="fadeInUpSmall" data-caption-delay="200">Мы можем дать тебе коммерческий опыт, который так требуют при трудоустройстве!</h3>
                  <div class="group-lg group-middle"><a class="button button-black" data-caption-animate="fadeInUpSmall" data-caption-delay="350" data-custom-scroll-to="section-subscribe" href="#section-subscribe">Хочу участвовать!</a></div>
                </div>
              </div>
            </div>
            <div class="swiper-slide swiper-slide_top bg-accent" data-slide-bg="https://sun9-61.userapi.com/c855624/v855624099/175c10/K7ElUsPnHB0.jpg">
              <div class="swiper-slide-caption">
                <div class="container">
                  <br><br>
                  <br><br>
                  <br>
                  <h2 data-caption-animate="fadeInLeftSmall" style="color: #960606">Не хватает рабочего коллектива для решения задачи?<br> Смелей забирай к себе на проект молодой ум!</h2><a class="button button-gray-light-outline" data-caption-animate="fadeInLeftSmall" data-caption-delay="200" data-custom-scroll-to="section-subscribe" href="#section-subscribe" style="margin-left: 40%; color: #960606">Подобрать программиста</a>
                </div>
              </div>
            </div>
          </div>
          <!--Swiper Pagination-->
          <div class="swiper-pagination"></div>
          <!--Swiper Navigation-->
          <div class="swiper-button-prev linear-icon-chevron-left"></div>
          <div class="swiper-button-next linear-icon-chevron-right"></div>
        </div>
      </section>
      <!--Presentation-->




    <!-- Модаль регистрации -->
          <div class="modal fade" id="ModalSignUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" style="color: black">
                 <h4 >Регистрация</h4>
                </div>
                <form method="post" action="/" style="color:black;">
                  <br>
                  <div style="margin-left: 10%">
                  <p><input type="text" name="username" value="" placeholder="Имя" style="width: 400px" required pattern="^[a-zA-Zа-яА-Я]+$"></p>
                  <p><input type="text" name="surname" value="" placeholder="Фамилия"  style="width: 400px" required pattern="^[a-zA-Zа-яА-Я]+$"></p>
                  <p><input type="email" name="email" value="" placeholder="E-mail" style="width: 400px" required></p>
                  <p><input type="password" name="password" value="" placeholder="Пароль" style="width: 400px" required pattern="^[^2-20]+[^!@#$%^&*()_\s]+$"></p>
                  <p><input type="text" name="phone" value="" placeholder="Номер телефона без 8" style="width: 400px" required pattern="[0-9]{10}"></p>
                </div>

                  <br>
                  <div style="margin-left: 24%">
                  <p><button type="submit" class="button button-black"> Зарегистрироваться </button></p>

                    </div>
                  <br>
                </form>
              </div>
            </div>
          </div>



 <!-- Модаль входа  -->
          <div class="modal fade" id="ModalSignIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" style="color: black;text-align:center;">
                  <h5>Войти в личный кабинет</h5>
                </div>
                <form method="post" action="/" style="color:black;">
                  <br>
                  <div style="margin-left: 10%">
                  <p><input type="email" name="email" value="" placeholder="E-mail" style="width: 400px" required></p>
                  <p><input type="password" name="password" value="" placeholder="Пароль" style="width: 400px" required pattern="^[^2-20]+[^!@#$%^&*()_\s~]+$"></p>
                  </div>
                  <br>
                  <div style="margin-left: 37%">
                  <p class="submit"><button type="submit" class="button button-black"> Войти </button></p>
                  </div>
                  <br>
                </form>
              </div>
            </div>
          </div>






      <section class="section-xl bg-default text-center" id="section-see-features">
        <div class="container">
          <div class="row justify-content-lg-center">
            <div class="col-lg-10 col-xl-8">
              <h3>Consistency is the key</h3>
              <p>Monstroid² boasts clean and crispy design, bulletproof layout consistency and intuitive navigation. The template was created by top industry leaders in web design and user experience. Improve your audience engagement and loyalty with simple and user friendly tools offered by our template.</p>
            </div>
          </div>
        </div>
      </section>
      <!--The Power of Bootstrap Toolkit-->

      <footer class="footer-corporate">
        <div class="container">
          <div class="footer-corporate__inner">
            <p class="rights">Найти IT!&nbsp;&copy; <span class="copyright-year"></span>.
              Design&nbsp;by&nbsp;<a href="https://github.com/MilRoad">Милена Лаисцева</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <!--Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!--Javascript-->
    <script src="static/core.min.js" defer></script>
    <script src="static/script.js" defer></script>
    <!--coded by ATOM-->
  </body>
</html>